#one{
    text-align: center;
    font-size: 2rem;
}
#three{
    font-size: 2rem;
    text-align: center;
}
#five{
    font-size: 2rem;
    text-align: center;
}
#seven{
    font-size: 2rem;
    text-align: center;
}
