body{
    position: absolute;
}
/*.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}*/
.bass{
    position: absolute;
    z-index: 0;
    top: 100px;
}
.invou{
    position: absolute;
    z-index: 2;
    top:123px;
    left:532px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.hisya_flipper{
    position: absolute;
    top:273px;
    left:750px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.kaku_flipper{
    position: absolute;
    z-index: 2;
    top:123px;
    left:460px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.invkaku{
    position: absolute;
    z-index: 2;
    top:202px;
    left:532px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.invryuma{
    position: absolute;
    z-index: 2;
    top:125px;
    left:458px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.invkinn{
    position: absolute;
    z-index: 2;
    top:363px;
    left:610px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.keima{
    position: absolute;
    z-index: 2;
    top:360px;
    left:535px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.sotokeima01{
    position: absolute;
    z-index: 2;
    top:363px;
    left:750px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.sotokeima02{
    position: absolute;
    z-index: 2;
    top:433px;
    left:750px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.sotokeima03{
    position: absolute;
    z-index: 2;
    top:503px;
    left:750px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.invfu01{
    position: absolute;
    z-index: 2;
    top:290px;
    left:390px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}
.invfu02{
    position: absolute;
    z-index: 2;
    top:290px;
    left:537px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}